@charset "UTF-8";

@font-face {
    font-family: Android;
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}    
@font-face {
    font-family: Cursiva;
    src: url(fontes/BebasNeue-Regular.ttf) format('truetype');
}

:root {
    --cor0: #dbf1eacb;
    --cor1: #90c8b6;
    --cor2: #589D87;
    --cor3: #2D735D;
    --cor4: #104836;
    --font0: Arial, Helvetica, sans-serif;
    --font1: 'Android', Arial;
    --font2: 'Cursiva', sans-serif;
}

body {
    background-color: #d4c6a2ea;
    margin: auto;
}

header {
    background-image: linear-gradient(to top, #0b3125, #9ae0cacb);
    padding: 30px 10px 10px 10px;   
    box-shadow: 1px 1px 10px;
}

nav {
    color: var(--cor1);
    text-shadow: black 2px 2px 6px;
}

nav > a {
    margin: 0px 20px 0px 0px;
    text-decoration: none;
    color: var(--cor1);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 1s;
}

a:hover {
    color: var(--cor4);
    text-shadow: none;
    padding: 5px;
    border-radius: 3px 3px;
    background-color: var(--cor1)
}

h1#titulo {
    text-align: center;
    font-family: var(--font2);
    color: var(--cor0);
    font-weight: normal;
    text-shadow: black 2px 2px 6px;  
    font-size: 4em;
}

.meio {
    color: #104836;
    font-family: var(--font1);
    text-indent: 20px;
    background-image: linear-gradient(to right,#52bd9be3, #dbf1eacb);
}

h1#title {
    color: #104836;
    font-family: var(--font1);
    text-indent: 20px;
}

.inicio {
    text-align: center;
    color: var(--cor0);
    text-shadow: black 2px 2px 6px;  
}

.meio2 {
    line-height: 2.0em;
    text-indent: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.spann {
    color: var(--cor4);
    font-weight: 700;
}

main {
    background-color: var(--cor0);
    padding: 10px 10px;
    margin: auto;
    min-width: 320px;
    max-width: 800px;
    box-shadow: 3px 2px 20px;
    border-radius: 0px 0px 10px 10px;
}

main img {
    width: 100%;
}

mark {
    background-color: var(--cor1);
}

mark > a {
    color: #0b3125;
    text-decoration: none;
}

mark > a:hover {
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900; 
}

div.video {
    position: relative;
    background-color: var(--cor4);
    height: 0px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 15px;
    padding-bottom: 59%;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

h3#fora {
    line-height: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor0);
    background-color: #0b3125;
    padding: 10px 10px;
    margin-left: -10px;
    border-radius: 15px 15px 0px 0px;
}

p.fora2 {
    line-height: 2.0em;
    text-indent: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: '\2714\0020';
    columns: 2;
    list-style-position: inside;
}

aside {
    background-color: #589D87;
    border-radius: 15px 15px;
    padding: 0px 0px 0px 10px;
}

footer{
    margin: 10px 0px 0px 0px;
    background-color: #0b3125;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2.0em;
    color: var(--cor0);
}

.span2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

/*img {
    widht: 100%;
}*/